*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

button {
    background-color: white;
    border: none;
}

.svg {
    height: 1.5rem;
    width: 1.5rem;
    background-color: lightgray;
    color: gray;
    border-radius: 100%;
    padding: 2px;
}

ul {
    margin-top: 1rem;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-svg {
    background-color: lightpink;
    color: red;
}

.delete-svg:hover {
    cursor: pointer;
    background-color: red;
    color: lightpink;
}

input:not(:placeholder-shown) + button #add-task_icon {
    background: palegreen;
    color: green;
}

input:not(:placeholder-shown) + button #add-task_icon:hover {
    cursor: pointer;
    background-color: green;
    color: palegreen;
}

form button {
    border: none;
    background-color: white;
    height: 1.5rem;
    width: 1.5rem;
}

li {
    list-style: none;
}

#add-task_icon {
    border-radius: 100%;
    background-color: lightgray;
    color: gray;
}