*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

form {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.label-input_container {
    display: flex;
    flex-flow: column nowrap;
}

form svg {
    height: 1.5rem;
    width: 1.5rem;
}

#add-task {
    border-radius: 100%;
    background-color: palegreen;
    color: green;
}

form button {
    border: none;
    background-color: white;
    height: 1.5rem;
    width: 1.5rem;
}

#submit-task {
    border-radius: 100%;
    background-color: lightgray;
    color: darkgrey;
}