*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

form {
    display: flex;
    align-items: center;
    gap: 1rem;
}

form svg {
    height: 1.5rem;
    width: 1.5rem;
}

#add-task_icon {
    border-radius: 100%;
    background-color: lightgray;
    color: gray;
}

input:not(:placeholder-shown) + button #add-task_icon {
    background: palegreen;
    color: green;
}

input:not(:placeholder-shown) + button #add-task_icon:hover {
    cursor: pointer;
    background-color: green;
    color: palegreen;
}

form button {
    border: none;
    background-color: white;
    height: 1.5rem;
    width: 1.5rem;
}
